$primary-brand: #03a9f4;
$primary-brand-light: #4fc3f7;
$primary-brand-lighter: #b3e5fc;

$secondary-brand: #333;
$secondary-brand-light: #ddd;
$secondary-brand-lighter: #f7f7f7;

$primary-text: #333;
$primary-text-light: #999;

$box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
