@import 'vars';

.fp-photo {
  width: 340px;
  margin-block-start: 10px;
  margin-block-end: 10px;
  margin-inline-start: 10px;
  margin-inline-end: 10px;

  &__link {
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    position: relative;

    &:hover {
      &:after {
        position: absolute;
        content: 'View on flickr.com';
        text-align: center;
        left: 0;
        width: 100%;
        background-color: rgba(29, 22, 17, 0.59);
        color: #fff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        height: 40px;
        padding-top: 20px;
      }
    }
  }

  &__image {
    border-radius: 5px;
    width: 100%;
    height: auto;
  }

  &__title {
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
  }

  &__tag {
    box-shadow: 0 2px 25px 0 rgba(34, 36, 38, 0.05) inset;
    border: 1px solid $secondary-brand-light;
    border-radius: 5px;
    padding: 3px;
    font-size: 12px;
    margin: 0 5px 5px 0;
    background-color: #fff;
    outline: none;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &:focus,
    &:hover {
      border: 1px solid $primary-brand-light;
    }
  }

  &__profile {
    display: flex;
    flex-direction: column;
  }

  &__username {
    font-weight: 600;
    color: $primary-brand;
  }

  &__date {
    color: $secondary-brand;
    font-size: 12px;
  }
}
